section.features {
  background: linear-gradient(180deg, #edb613 0%, #eda00b 100%);
  background-size: cover;
  padding-bottom: 180px;
  position: relative;
  z-index: 20;
  .features-inside {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 20;
    .cards {
      display: flex;
      justify-content: space-between;
      // max-width: 1215px;
      width: 100%;
      margin-bottom: 170px;
      li {
        opacity: 0;
        transition: all 1s ease-in-out;
        &:nth-of-type(1) {
          bottom: -50px;
          img {
            left: -30px;
            bottom: 60px;
          }
        }
        &:nth-of-type(2) {
          bottom: -100px;
          img {
            max-width: 230px;
          }
        }
        &:nth-of-type(3) {
          bottom: -150px;
          img {
            max-width: 250px;
          }
        }
        background: #423b2b;
        border: 7px solid #5d5347;
        border-radius: 14px;
        list-style: none;
        font-family: "Balsamiq Sans Regular";
        color: #ffffff;
        text-align: center;
        padding: 0 32px;
        padding-bottom: 50px;
        position: relative;
        width: 32%;
        box-sizing: border-box;
        padding-top: 250px;
        display: flex;
        align-items: flex-end;
        z-index: 20;
        button {
          width: 100%;
        }
        img {
          position: absolute;
          bottom: 140px;
          left: 0;
          z-index: 20;
        }
      }
    }
  }
  .feature-block {
    .feature-text {
      h1 {
        font-family: "Balsamiq Sans Regular";
        font-weight: 700;
        font-size: 72px;
        color: #fff;
        line-height: 72px;
        margin-bottom: 30px;
        @include stroke(#000, 5px, 2px);
      }
      p {
        font-family: "Balsamiq Sans Regular";
        color: #fff;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
  .feature-block-parent {
    position: relative;
    top: -200px;
    .feature-block {
      background-image: url("../assets/feature-block-line.svg");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      padding-bottom: 400px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      overflow: hidden;
      .feature-text {
        max-width: 517px;
        position: relative;
        z-index: 15;
        text-align: left;
      }
      .feature-images {
        max-width: 70%;
        // padding-top: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        position: absolute;
        right: 50px;
        top: 100px;
        img {
          position: relative;
          filter: drop-shadow(-40px 27px 31px rgba(50, 31, 2, 0.22));
          transition: all 1s ease-in-out;
          opacity: 0;
          border-radius: 12px;
          z-index: 10;
        }
        img:first-of-type {
          transform: rotate(-30deg);
          bottom: -100px;
          // right: -200px;
          max-width: 320px;
          left: 100px;
        }
        img:last-of-type {
          transform: rotate(18deg);
          // right: -130px;
          left: 0px;
          bottom: -20px;
          max-width: 395px;
        }
      }
      & > img.feature-block-icons {
        display: none;
      }
      .line-images {
        img {
          position: absolute;
          z-index: 0;
          &:nth-of-type(1) {
            left: 0;
            bottom: 0;
          }
          &:nth-of-type(2) {
            left: 300px;
            bottom: 100px;
          }
          &:nth-of-type(3) {
            left: 480px;
            bottom: 275px;
          }
        }
      }
    }
  }
  .features-inside > .feature-block {
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .feature-block-image-wrap {
      position: relative;
      img:first-of-type {
        max-width: 80%;
      }
      img.image-text {
        position: absolute;
        top: 100px;
        transition: all 1s ease-in-out;
        opacity: 0;
        left: 15%;
        @include stroke-drop-shadow(#000, 1px, 0.4, 0.6);
        // transform: skewX(-2deg);
      }
    }
    .feature-text {
      max-width: 50%;
      text-align: right;
      p {
        margin-bottom: 100px;
      }
      img {
        margin-right: 100px;
        box-sizing: border-box;
        // max-width: 80%;
      }
    }
  }
}
