* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.center {
  max-width: 1215px;
  margin: 0 auto;
}

@mixin stroke($color, $width, $offset) {
  text-shadow: ($width * 1) ($width * 0 + $offset) 0 $color,
    ($width * 0.9239) ($width * 0.3827 + $offset) 0 $color,
    ($width * 0.7071) ($width * 0.7071 + $offset) 0 $color,
    ($width * 0.3827) ($width * 0.9239 + $offset) 0 $color,
    ($width * 0) ($width * 1 + $offset) 0 $color,
    ($width * -0.3827) ($width * 0.9239 + $offset) 0 $color,
    ($width * -0.7071) ($width * 0.7071 + $offset) 0 $color,
    ($width * -0.9239) ($width * 0.3827 + $offset) 0 $color,
    ($width * -1) ($width * 0 + $offset) 0 $color,
    ($width * -0.9239) ($width * -0.3827 + $offset) 0 $color,
    ($width * -0.7071) ($width * -0.7071 + $offset) 0 $color,
    ($width * -0.3827) ($width * -0.9239 + $offset) 0 $color,
    ($width * 0) ($width * -1 + $offset) 0 $color,
    ($width * 0.3827) ($width * -0.9239 + $offset) 0 $color,
    ($width * 0.7071) ($width * -0.7071 + $offset) 0 $color,
    ($width * 0.9239) ($width * -0.3827 + $offset) 0 $color;
}

@mixin stroke-drop-shadow($color, $width, $offset) {
  filter: drop-shadow(($width) ($width * 0 + $offset) 0 $color)
    drop-shadow(($width * 0.9239) ($width * 0.3827 + $offset) 0 $color)
    drop-shadow(($width * 0.7071) ($width * 0.7071 + $offset) 0 $color)
    drop-shadow(($width * 0.3827) ($width * 0.9239 + $offset) 0 $color)
    drop-shadow(($width * 0) ($width * 1 + $offset) 0 $color)
    drop-shadow(($width * -0.3827 + 0.5) ($width * 0.9239 + $offset) 0 $color)
    drop-shadow(($width * -0.7071 + 0.5) ($width * 0.7071 + $offset) 0 $color)
    drop-shadow(($width * -0.9239 + 0.5) ($width * 0.3827 + $offset) 0 $color)
    drop-shadow(($width * -1 + 0.5) ($width * 0 + $offset) 0 $color)
    drop-shadow(($width * -0.9239 + 0.5) ($width * -0.3827 + $offset) 0 $color)
    drop-shadow(($width * -0.7071+ 0.5) ($width * -0.7071 + $offset) 0 $color)
    drop-shadow(
      ($width * -0.3827+ 0.5) ($width * -0.9239 + 1 + $offset) 0 $color
    )
    drop-shadow(($width * 0) ($width * -1 + $offset) 0 $color)
    drop-shadow(($width * 0.3827) ($width * -0.9239+ 1 + $offset) 0 $color)
    drop-shadow(($width * 0.7071) ($width * -0.7071+ 1 + $offset) 0 $color)
    drop-shadow(($width * 0.9239) ($width * -0.3827+ 1 + $offset) 0 $color);
  // filter: drop-shadow(($width * 1) ($width * 0 + $offset) 0 $color)
  //   drop-shadow(($width * 0) ($width * 1 + $offset) 0 $color)
  //   drop-shadow(($width * -1) ($width * 0 + $offset) 0 $color)
  //   drop-shadow(($width * 0) ($width * -1 + $offset) 0 $color);
}

.yellow-button {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
  &:hover,
  &:focus {
    cursor: pointer;
    background: #ffdc30;
    box-shadow: none;
  }
  padding: 20px 37px;
  font-family: "Balsamiq Sans Regular";
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;

  border: 1px solid #000000;
  border: none;
  outline: none;
  background: #ffdc30;
  box-shadow: inset 15px 0px 10px 0px #ffdc30,
    inset -8px -30px 10px 5px rgba(247, 171, 22, 0.6);
  border-radius: 10px;
  @include stroke(#000, 2px, 1);
}

@font-face {
  font-family: "Balsamiq Sans Regular";
  src: url("../assets/fonts/balsamiq/BalsamiqSans-Regular.ttf");
}

@font-face {
  font-family: "Balsamiq Sans Bold";
  src: url("../assets/fonts/balsamiq/BalsamiqSans-Bold.ttf");
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../assets/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../assets/fonts/montserrat/Montserrat-Bold.ttf");
}

@media (max-width: 375px) {
  .popup {
    max-width: 340px;
  }
}

.popup {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 20;
  position: fixed;
  padding: 35px 40px 40px 40px;
  background: #423b2b;
  border: 7px solid #5d5347;
  max-width: 405px;
  border-radius: 14px;
  h1 {
    font-family: "Balsamiq Sans Regular";
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 30px;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
      flex-direction: column;
      font-family: "Balsamiq Sans Regular";
      font-size: 18px;
      line-height: 22px;
      color: #fff;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      input {
        margin-top: 10px;
        padding: 16px 22px;
        border: none;
        outline: none;
        background: #fff;
        color: #000;
        font-family: "Balsamiq Sans Regular";
        font-size: 18px;
        border-radius: 10px;
        border: 3px solid transparent;
        &::placeholder {
          color: #96948b;
          font-family: "Balsamiq Sans Regular";
          font-size: 18px;
        }
        &:focus {
          border-color: #98856e;
          &::placeholder {
            color: #fff;
          }
        }
      }
    }
    .yellow-button {
      margin-top: 40px;
    }
  }
  .login-text {
    font-size: 18px;
    font-family: "Balsamiq Sans Regular";
    margin-top: 22px;
    color: #fff;
    button {
      border: none;
      outline: none;
      background: transparent;
      font-family: "Balsamiq Sans Regular";
      font-size: 18px;
      color: #2fa8ff;
      cursor: pointer;
    }
  }
}

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #6130ee 0%, #320aa6 100%), #6130ee;
  opacity: 0.5;
  z-index: 15;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 7, 43, 0.8);
    z-index: 10;
  }
  backdrop-filter: blur(20px);
}
