@media (max-width: 1270px) {
  .center {
    padding: 0 20px;
    box-sizing: border-box;
  }
}

@media (max-width: 1070px) {
  header.page-header {
    div.wave {
      height: 110px;
      img {
        min-width: 510px;
      }
    }
    padding-bottom: 150px;
    .header-inside {
      .header-nav {
        position: relative;
        padding: 0;
        .nav-right {
          display: none !important;
        }
        .nav-left {
          display: none;
          .nav-logo {
            display: none;
          }
        }
        .nav-adaptive {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 8px 16px 0 16px;
          button {
            background: transparent;
            border: none;
            outline: none;
            &:hover {
              cursor: pointer;
            }
          }
          a {
            img {
              max-width: 60px;
            }
          }
        }
      }
      .header-main {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        .header-text {
          text-align: center;
          display: flex;
          flex-direction: column;
          h1 {
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            max-width: 350px;
            img {
              display: inline !important;
              height: 30px;
              width: 24px;
              vertical-align: bottom;
            }
          }
          p {
            text-align: center;
          }
          .download-button {
            display: inline-block;
            background: transparent;
            color: #fff;
            border: none;
            outline: none;
            margin-top: 40px;
            font-family: "Balsamiq Sans Regular";
            font-size: 18px;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .header-image {
          display: none;
        }
      }
    }
  }
  section.features {
    padding: 0 !important;
    div.features-inside {
      div.feature-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-of-type {
          display: flex;
          flex-direction: column-reverse;
          .feature-block-image-wrap {
            width: 100%;
            display: flex;
            justify-content: center;
            img:first-of-type {
              margin: 0;
              // width: 100%;
            }
            img.image-text {
              max-width: 205px;
              @include stroke-drop-shadow(#000, 0.5px, 0.4, 0.4);
            }
          }
          img.features-icon {
            display: none !important;
          }
          .feature-text {
            width: 90%;
            max-width: 90%;
            margin: 0 auto;
            text-align: center;
            h1 {
              margin-bottom: 40px;
              text-align: center;
            }
            p {
              margin-bottom: 55px;
            }
          }
        }
        // background: none !important;
        &:first-of-type {
          padding-bottom: 100px;
          background: none;
          display: flex;
          flex-direction: column;
          margin-bottom: 0;
          div.feature-images {
            display: flex;
            flex-direction: column;
            align-items: center;
            order: 2;
            position: static !important;
            width: 100%;
            max-width: 100% !important;
            img {
              margin: 0;
              padding: 0;
              max-width: 80%;
              width: 80%;
              position: static !important;
              // max-width: 270px;
              // max-height: 302px;
              margin: 0;
              bottom: 0;
              left: 0;
            }
          }
          .line-images {
            display: none;
          }
          & > img.feature-block-icons {
            display: block;
            width: 100%;
            order: 1;
          }
          .feature-text {
            width: 90%;
            max-width: 90%;
            margin: 0 auto;
          }
        }
        .feature-text {
          width: 100%;
          h1 {
            text-align: center;
            font-size: 30px;
            line-height: 30px;
            @include stroke(#000, 3px, 1);
          }
          p {
            font-size: 18px;
            margin-bottom: 10px;
            text-align: center;
          }
        }
        img:first-of-type {
          margin-bottom: 40px;
        }
      }
      .cards {
        margin-bottom: 100px;
        position: static !important;
        flex-direction: column;
        // align-items: center;
        padding: 0px 16px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          width: 100% !important;
          max-width: 345px;
          margin-bottom: 35px;
          img {
            max-width: 100%;
          }
          p {
            width: 100%;
            line-height: 25px;
            text-align: center !important;
          }
        }
      }
    }
  }
  section.downloads {
    background: url("../assets/downloads-bg-adaptive.jpg") !important;
    background-size: cover !important;
    div.wave {
      background-position: top center !important;
      background-size: contain !important;
    }
    .downloads-inside {
      text-align: center;
      // padding: 0 32px;
      padding: 0;
      & > h1 {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        & > img {
          display: none;
        }
        span:last-of-type {
          img {
            display: inline !important;
            width: 24px;
            height: 30px;
            vertical-align: baseline;
            &:first-of-type {
              margin-right: 10px;
            }
            &:last-of-type {
              margin-left: 10px;
            }
          }
        }
      }
      header.downloads-header {
        margin-bottom: 100px;
        width: 100%;
        h1 {
          font-family: "Balsamiq Sans Regular";
          font-size: 48px;
          color: #fff;
          line-height: 48px;
          @include stroke(#000, 5px, 2px);
          margin-bottom: 30px;
        }
      }
      ul.coins-list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        li:first-of-type {
          display: none;
        }
        li:nth-child(2) {
          margin-bottom: 70px;
        }
        li {
          max-width: 100%;
          img {
            max-width: 100%;
          }
        }
      }
      nav.download-links {
        display: flex;
        flex-direction: column;
        max-width: 225px;
        div {
          &:first-of-type {
            margin-bottom: 30px;
          }
          div {
            a {
              width: 100%;
              box-sizing: border-box;
              margin-right: 0;
              justify-content: center;
              &:first-of-type {
                margin-bottom: 16px;
              }
            }
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (min-width: 1850px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: -50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1750px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: -20px;
          }
          img:nth-of-type(2) {
            left: 320px;
          }
        }
      }
    }
  }
}

@media (max-width: 1650px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1550px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1480px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 1390px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: 70px;
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: 90px;
          }
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:first-of-type {
            bottom: 110px;
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:nth-of-type(2) {
            bottom: 110px;
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .line-images {
          img:nth-of-type(2) {
            left: 270px;
          }
        }
      }
    }
  }
}

@media (min-width: 2050px) {
  .features {
    .features-inside {
      .feature-block:first-of-type {
        .feature-images {
          left: 1200px;
          right: auto;
        }
      }
    }
  }
}

@media (max-width: 485px) {
  section.downloads {
    div.downloads-inside {
      header.downloads-header {
        max-width: 90%;
        margin: 0 auto;
        h1 {
          font-size: 30px;
          line-height: 30px;
          @include stroke(#000, 3px, 1);
        }
      }
      .coins-list {
        li {
          img {
            max-width: 90%;
          }
        }
      }
    }
  }
}
